In [107]:
import glob as glob
import pandas as pd

In [108]:
extract_path = "../extract_data/"

In [109]:
labels = sorted(glob.glob(extract_path + "labels/*"))
images = sorted(glob.glob(extract_path + "images/*"))

In [110]:
def getNameFromLabel(label_file):
    name = label_file.replace(extract_path + "labels/", "").replace(".nii.gz", "")
    return name

In [111]:
def getImagesByName(name):
    images = sorted(glob.glob(extract_path + "images/" + name + "*"))
    new_names = []                
    for image in images:
        new_names.append(
            image.replace(extract_path + "images/", "").replace(".nii.gz", "")
        )
                    
    return new_names

0000 = T2W
0001 = ADC
0002 = DWI

In [112]:
image_lists = []

for labels in labels:
    name = getNameFromLabel(labels)
    t2w, adc, dwi = getImagesByName(name)

    image_list = [name, t2w, adc, dwi]
    
    image_lists.append(
        image_list
    )
    
df = pd.DataFrame(
        image_lists,
        columns =['label', 'T2W', 'ADC', 'DWI']
    )

df

            label                 T2W                 ADC                 DWI
0   10005_1000005  10005_1000005_0000  10005_1000005_0001  10005_1000005_0002
1   10021_1000021  10021_1000021_0000  10021_1000021_0001  10021_1000021_0002
2   10032_1000032  10032_1000032_0000  10032_1000032_0001  10032_1000032_0002
3   10043_1000043  10043_1000043_0000  10043_1000043_0001  10043_1000043_0002
4   10048_1000048  10048_1000048_0000  10048_1000048_0001  10048_1000048_0002
..            ...                 ...                 ...                 ...
84  11442_1001466  11442_1001466_0000  11442_1001466_0001  11442_1001466_0002
85  11444_1001468  11444_1001468_0000  11444_1001468_0001  11444_1001468_0002
86  11447_1001471  11447_1001471_0000  11447_1001471_0001  11447_1001471_0002
87  11462_1001486  11462_1001486_0000  11462_1001486_0001  11462_1001486_0002
88  11475_1001499  11475_1001499_0000  11475_1001499_0001  11475_1001499_0002

[89 rows x 4 columns]

In [113]:
df.to_csv('list_mask_case.csv')